<div class="container-fluid">
	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="../../../../assets/img/50.jpg" alt="Card image cap">
		<div class="card-body">
			<h4 class="card-title">CSI2110 - B00</h4>

			<p class="card-text">
					Lecture<br>
					Tuesday 10:00 - 11:30<br>
					Henderson Residence 013<br>
			</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>


	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="../../../../assets/img/50.jpg" alt="Card image cap">
		<div class="card-body">
			<h4 class="card-title">CSI2110 - B00</h4>
			<p class="card-text">
					Laboratory<br>
					Tuesday 13:00 - 14:30<br>
					SITE 2052<br>
			</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>


	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="../../../../assets/img/50.jpg" alt="Card image cap">
		<div class="card-body">
			<h4 class="card-title">CSI2110 - B00</h4>
			<p class="card-text">
					Tutorial<br>
					Wednesday 14:30 - 16:00<br>
					Henderson Residence 013<br>
			</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>