<div class="form-control" id="semesterView">
  <h5>Fall 2017</h5>
  <h6>Courses selected</h6>
  <table>
    <tr>
      <td>
          <ol style="margin-top:15px;">
            <li>CSI2110</li>
            <li>CSI2136</li>
            <li>SEG2105</li>
            <li>MAT1322</li>
          </ol>
      </td>
      <td id="removeLinksTd">
          <a href="#" style="color:red;">Remove</a><br />
          <a href="#" style="color:red;">Remove</a><br />
          <a href="#" style="color:red;">Remove</a><br />
          <a href="#" style="color:red;">Remove</a>
      </td>
    </tr>
  </table>
</div>
