<div class="container-fluid">
  <nav class="row navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-md-9">
      <a class=" navbar-brand" href="#">
        <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        StudyPath
      </a>
  
    </div>
  
    <form class="input-group col-md-3 form-inline">
      <input class="form-control" type="search" placeholder="Search for courses" aria-label="Search">
      <span class="input-group-btn">
        <button class="btn btn-outline-success">
          Search 
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </form>
    </nav>
  </div>