<table class="table">
    <span hidden></span>
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col" *ngFor="let day of days; let i = index">
          {{day}} <br>
          {{daysNumber[i]}}
          {{month}}
          

        </th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let hour of hours; let i = index">
        <th scope="row" >{{hour}}</th>

        <td *ngFor="let day of days; let j=index"> 
            <span *ngFor="let item of items">
                <span *ngIf="(item.getDay()==day) && (item.getStartHour() == hour)" #spanItem id="{{day}}{{i}}">
                    {{item.getCode()}} <br /> {{item.getType()}} <br /> {{item.getInstructor()}} <br /> {{item.getLocation()}} {{setTdItems(spanItem.id,'start')}}
                </span>
                <span *ngIf="(item.getDay()==day) && (item.getEndHour() == hour)" #spanItem id="{{day}}{{i}}">
                    {{setTdItems(spanItem.id,'end')}}
                </span>
                <span *ngIf="(item.getDay()==day) && ((item.getStartHour() < hour) && (item.getEndHour() > hour))" #spanItem id="{{day}}{{i}}">
                    {{setTdItems(spanItem.id,'between')}}
                </span>
            </span>
        </td>
      </tr>
        

      <!-- <tr *ngFor=" let hour of hours; let i = index">
        <th scope="row" >{{hour}}</th>

        <td *ngFor="let day of days; let j=index"> 
            <span *ngFor="let item of items">
                <span *ngIf="item.getDay()===day">
                    Test
                  </span>
            </span>
        </td>
      </tr> -->
    </tbody>
  </table>

  <!--\<span *ngFor="let day of days; let j=index">
          <td>  
          </td>
        </span>
    <span *ngFor="let item of items">
              <span *ngIf="item.getDay()===day">
                Test
              </span>
            </span>
          -->