<div class="form-control" id="semesterCourseView">
    <h5>CSI2110</h5>
    <div>
      <div id="firstDivChild" class="scvDivs">
          CSI2110 - B00<br>
          Lecture<br>
          Tuesday 10:00 - 11:30<br>
          Henderson Residence 013<br>
      </div>
      <div class="scvDivs">
          CSI2110 - B02<br>
          Laboratory<br>
          Tuesday 13:00 - 14:30<br>
          SITE 2052<br>
      </div>
      <div id="lastDivChild" class="scvDivs">
          CSI2110 - B04<br>
          Tutorial<br>
          Wednesday 14:30 - 16:00<br>
          Henderson Residence 013<br>
      </div>
      <br style="clear:both;" />
    </div>
</div>